
$fonts:'Red Rose', cursive;

$color_fondo: black;

$color_tittle: #a877c8;

$color_subtittle: #a2da5a;

$color_p: white;

$color_list: #a2b2df;

$color_notes:#a2b2df;

$color_caps: #f7bb2a;

$color_movies: #a2da5a;

